.main-header.header-white {
  background: #fff;
}
.transparent {
  background: transparent;
}
.main-header {
  z-index: 999999999;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  /* background-color: #8b8b8b !important; */
}
.main-header {
  background: transparent;
}

.main-header .navbar {
  padding: 0;
  min-height: 6.063rem;
}

.mega-menus .no-margin {
  margin: 0;
}
.mega-menus .no-border-radius {
  border-radius: 0;
}

.main-header .navbar .navbar-brand {
  margin-left: 0;
  padding: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header.header-white.transparent .navbar .navbar-brand img:last-child {
  display: block;
}

.main-header.header-white.transparent .navbar .navbar-brand img:first-child {
  display: none;
}

.main-header.header-white .navbar .navbar-nav li {
  color: #55565b;
}

.main-header .navbar .navbar-nav li {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.main-header.header-white .navbar .navbar-nav li a {
  color: #55565b;
}
.main-header .navbar .navbar-nav li a {
  color: black;
  padding: 2.25rem 1rem;
  display: inline-block;
  line-height: 2.1;
}

.main-header.sticky-nav .navbar .navbar-nav li a {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

a {
  color: #5645ff;
  text-decoration: none;
  outline: none;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.navbar-header-button {
  margin: 0;
  height: 30px;
}
.main-header.header-white .navbar-toggler .navbar-toggler-icon {
  background: #55565b;
}

.main-header.header-white .navbar-toggler .navbar-toggler-icon:before,
.main-header.header-white .navbar-toggler .navbar-toggler-icon:after {
  background: #55565b;
}

.main-header.header-white .navbar-toggler .navbar-toggler-icon:before,
.main-header.header-white .navbar-toggler .navbar-toggler-icon:after {
  background: #55565b;
}

#navbar-header {
  display: none;
}

#navbar-header:checked ~ .collapse {
  display: block;
}

.navbar-logo {
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #55565b;
  line-height: 30px;
}

.navbar-logo:hover {
  color: #55565b;
}

.navbar-center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-scroll {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background: #fff;
  color: #000;
  text-align: center;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 300;
  z-index: 9900;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 0.0625rem;
  cursor: pointer;
  box-shadow: 0px 1px 5px #00000033;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  margin-top: 4px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.main-header.sticky-nav .bottom-header {
  min-height: 3.875rem;
  margin-top: 0;
}

.main-header .bottom-header {
  -webkit-transition: min-height 0.3s linear, all 0.3s linear;
  -o-transition: min-height 0.3s linear, all 0.3s linear;
  transition: min-height 0.3s linear, all 0.3s linear;
  /* min-height: 6.063rem; */
}

.main-header.sticky-nav .navbar {
  min-height: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
.main-header.sticky-nav .navbar .navbar-brand {
  /* padding-top: 1.1rem;
  padding-bottom: 1.25rem; */
}

.main-header.header-white.transparent .navbar .navbar-brand img:last-child {
  display: block;
}

@media (min-width: 992px) {
  .main-header.header-white.transparent {
    background: transparent;
  }
  .main-header.header-white.transparent .navbar .navbar-brand img:first-child {
    display: block;
  }
  .main-header.header-white.transparent .navbar .navbar-brand img:last-child {
    display: none;
  }

  .main-header.header-white.transparent.sticky-nav
    .navbar
    .navbar-brand
    img:first-child {
    display: none;
  }
  .navbar-brand img {
    width: 150px;
  }
  .main-header.header-white.transparent.sticky-nav
    .navbar
    .navbar-brand
    img:last-child {
    display: block;
  }

  .main-header.header-white.transparent .navbar .navbar-nav > li > a {
    color: rgb(255, 255, 255);
  }

  .navbar-logo {
    color: white;
  }

  .sticky-nav {
    background: white !important;
  }

  .sticky-nav .navbar-logo {
    color: #55565b;
  }

  .main-header.header-white.transparent.sticky-nav
    .navbar
    .navbar-nav
    > li
    > a {
    color: #55565b;
  }

  a.navbar-brand {
    min-height: inherit;
  }
}

@media only screen and (max-width: 991px) {
  .main-header .navbar-toggler {
    padding: 0;
    top: 13px;
    margin-top: 0;
    margin-left: 15px;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 0;
  }
  .main-header.sticky-nav .navbar .navbar-nav li a {
    padding: 0.4rem 0.9375rem;
  }

  .main-header .navbar .navbar-nav li a:hover {
    color: #a7a7a7;
    background: #fbfbfb;
  }

  .main-header .navbar .navbar-brand {
    margin-left: auto;
    padding: 1.2rem 0;
    width: 6.938rem;
    display: block;
  }

  .main-header.sticky-nav .bottom-header {
    margin-top: 0;
  }

  .main-header .navbar-toggler .navbar-toggler-icon {
    height: 2px;
    background: #fff;
    position: relative;
  }

  .main-header .navbar-toggler .navbar-toggler-icon:before,
  .main-header .navbar-toggler .navbar-toggler-icon:after {
    position: absolute;
    width: 100%;
    top: 6px;
    left: 0;
    background: #fff;
    height: 2px;
    content: "";
  }

  .main-header .navbar-toggler .navbar-toggler-icon:before,
  .main-header .navbar-toggler .navbar-toggler-icon:after {
    position: absolute;
    width: 100%;
    top: 6px;
    left: 0;
    background: #fff;
    height: 2px;
    content: "";
  }

  .main-header .navbar-toggler .navbar-toggler-icon:after {
    top: 12px;
  }
  .main-header .navbar {
    min-height: 3.875rem;
  }

  .main-header.header-white .navbar .navbar-nav li {
    color: #55565b;
  }

  .main-header.header-white .navbar .navbar-nav li {
    border-color: whitesmoke;
  }

  .main-header .navbar .navbar-nav li {
    font-size: 0.65rem;
  }

  .main-header .navbar .navbar-nav li {
    padding: 0;
    border-bottom: 0.07143rem solid #272727;
  }

  .main-header .navbar .navbar-nav li a {
    padding: 0.4rem 0.9375rem;
    line-height: 2.1;
    display: block;
  }

  .main-header .bottom-header.container-fluid,
  .main-header .bottom-header.container {
    padding: 0;
  }
}

@media (max-width: 894px) {
  .mega-menus .mega-menu-multiple .nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 1230px) {
  .main-header .container-fluid,
  .main-header .container {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}
